<h2>Welcome {{username}}!</h2>

<h3>Your session expires at: {{expireTime}}</h3>

{{#if posts.length}}
<section>
  <h2 class="pl-4 post-margin">Your Posts</h2>
    <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}"><button class="btn btn-dark text-light" id="add-post">Edit Post</button></a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<a href="/dashboard/add-post" class="mt-3" ><button class="btn btn-dark text-light" id="add-post">Add New Post</button></a>
