/* all page */

* {
  text-align: center;
  box-sizing: border-box;
}

body {
  padding: 0;
  height: 100%;
  color: lightgreen;
  margin: 0;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 1%;
}

form > div {
  margin-bottom: 2%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.textarea {
  height: 100px;
}
